<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<th:block th:fragment="appscripts">
    <script type="text/javascript" th:src="@{/assets/js/cropper.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/dropzone.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/video-embed.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jqBootstrapValidation.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/cropper-dropzone.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/tinymce/tinymce.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/appjs/app-ops.js}"></script>
    <script>
        function removeFile(obj, selector, fileName) {
            $(selector).val($(selector).val().replace(',' + fileName, ''));
            $(selector).val($(selector).val().replace(fileName + ',', ''));
            $(selector).val($(selector).val().replace(fileName, ''));
            $(obj).parent().remove();
        }
    </script>
</th:block>
</body>
</html>