<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head"></head>
<body>
<section class="breadcrumb">
    <div class="container">
        <h1>Edit App</h1>
        <a th:href="@{/}">
            <span>Home</span>
        </a>
        <span>/</span>
        <a th:href="@{/}">
            <span>My Apps</span>
        </a>
        <span>/</span>
        <span>Edit App</span>
    </div>
</section>
<section class="form">
    <div class="container">
        <h1>
            <i class="fa fa-search"> </i>
            <span th:text="${views} + ' Views'"></span>
        </h1>
        <div id="plot"> </div>
        <form th:action="@{/app/edit}" th:class="form" method="post" th:novalidate="${true}" th:object="${app}">
            <input type="hidden" id="publish" value="false" name="publish"/>
            <input type="hidden" id="appId" name="appId" th:field="*{appId}"/>
            <input type="hidden" id="version" name="version" th:field="*{version}"/>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Application Name
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-6 controls">
                    <input th:field="*{name}" type="text" class="form-control" required="required"
                           data-validation-required-message="Please fill out this field" name="name"/>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Summary
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-6 controls">
                    <textarea th:field="*{summary}" cols="30" rows="10" class="form-control" required="required"
                              data-validation-required-message="Please fill out this field" name="summary"></textarea>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Description
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-6 controls">
                    <textarea th:field="*{description}" name="description" cols="30" rows="10" class="form-control"
                              required="required"
                              data-validation-required-message="Please fill out this field"></textarea>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Icon
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-6">
                    <div id="upload-icon" class="dropzone">
                        <input th:field="*{icon}" id="icon" name="icon" type="hidden" class="hidden" value=""
                               required="required" data-validation-required-message="Please upload icon"/>
                    </div>
                    <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete"
                         th:if="${app.icon != null}">
                        <div class="dz-image">
                            <img th:src="${app.icon}" data-dz-thumbnail="true"/>
                        </div>
                        <div class="dz-progress">
                                <span class="dz-upload completed" data-dz-uploadprogress="true" style="width: 100%;">
                                    Complete
                                </span>
                        </div>
                        <a href="javascript:void(0);" data-dz-remove=""
                           th:onclick="'removeFile(this, \'#icon\', \'' + ${app.icon} + '\')'" class="dz-remove">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Images
                </div>
                <div class="col-md-6">
                    <div id="upload-images" class="dropzone">
                        <input th:field="*{images}" id="images" name="images" type="hidden" class="hidden" value=""/>
                        <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete"
                             th:if="${app.images != null}" th:each="image : ${app.images}">
                            <div class="dz-image">
                                <img th:src="${image}" data-dz-thumbnail="true"/>
                            </div>
                            <div class="dz-progress">
                                <span class="dz-upload completed" data-dz-uploadprogress="true" style="width: 100%;">
                                    Complete
                                </span>
                            </div>
                            <a href="javascript:void(0);" data-dz-remove=""
                               th:onclick="'removeFile(this, \'#images\', \'' + ${image} + '\')'" class="dz-remove">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Files
                </div>
                <div class="col-md-6">
                    <div id="upload-files" class="dropzone">
                        <input th:field="*{files}" name="files" type="hidden" class="hidden" value="" id="files"/>
                        <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete"
                             th:if="${app.files != null}" th:each="file : ${app.files}">
                            <div class="dz-image">
                                <img th:src="${file}" data-dz-thumbnail="true"/>
                            </div>
                            <div class="dz-progress">
                                <span class="dz-upload completed" data-dz-uploadprogress="true" style="width: 100%;">
                                    Complete
                                </span>
                            </div>
                            <a href="javascript:void(0);" data-dz-remove=""
                               th:onclick="'removeFile(this, \'#files\', \'' + ${file} + '\')'" class="dz-remove">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Category<span class="text-danger">*</span>
                </div>
                <div class="col-md-6 controls">
                    <select th:field="*{category}" name="category" multiple="multiple" class="form-control categorizer"
                            required="required" data-validation-required-message="Please select at least one">
                        <option value="Sample Category 1">Sample Category 1</option>
                        <option value="Sample Category 2">Sample Category 2</option>
                        <option value="Sample Category 3">Sample Category 3</option>
                        <option value="Sample Category 4">Sample Category 4</option>
                    </select>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Website URL
                </div>
                <div class="col-md-6">
                    <input th:field="*{websiteUrl}" class="form-control" name="website_url"/>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3 item">
                    Video URL
                </div>
                <div class="col-md-6">
                    <input th:field="*{videoUrl}" class="form-control video-url" name="video_url"/>
                    <div class="video-preview"></div>
                </div>
            </div>
            <div class="form-group row control-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-6 controls">
                    <input th:field="*{tncFlag}" value="true" type="checkbox"
                           data-validation-required-message="Please check this box if you want to proceed."
                           required="required" id="tnc"/>
                    <label for="tnc" class="">I agree to the terms and conditions.<span
                            class="text-danger">*</span></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-primary pull-right" th:type="submit" th:onclick="'bSubmit=false;'">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<th:block th:replace="/fragments/common :: scripts"></th:block>
<th:block th:replace="/app/fragments/common :: appscripts"></th:block>
</body>
</html>