<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="head">
        <title>Sample Application</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/style.css" th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/cropper.min.css" th:href="@{/assets/css/cropper.min.css}" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/select2.min.css" th:href="@{/assets/css/select2.min.css}" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/toastr.css" th:href="@{/assets/css/toastr.css}" rel="stylesheet" type="text/css"/>
    </th:block>
</head>
<body>

<th:block th:fragment="marketplace-scripts">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/jqueryUI.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/appjs/app-category.js}"></script>
</th:block>

<th:block th:fragment="app-scripts">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/assets/js/toastr.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.flot.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/config.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/scripts.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var app = [[${app != null and app.appId != null ? app.toJson() : false}]];
        var statistics = [[${statistics}]];
        var toast_type = [[${modelMap == null or !#maps.containsKey(modelMap, 'toast_type') or modelMap.toast_type == null ? '' : modelMap.toast_type}]];
        var toast_message = [[${modelMap == null or !#maps.containsKey(modelMap, 'toast_message') or modelMap.toast_message == null ? '' : modelMap.toast_message}]];
    </script>
</th:block>
</body>
</html>