<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<head th:replace="fragments/common :: head"></head>

<head th:fragment="header">

	<link href="/assets/css/market-custom.css" th:href="@{/assets/css/market-custom.css}" rel="stylesheet"  type="text/css"/>
</head>
<body>

<nav class="navbar header">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img th:src="@{/assets/images/logo.jpg}" class="logo" alt="MARKETPLACE"/></a>
		</div>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Marketplace</a></li>
				<li><a href="#">Developer</a></li>
			</ul>
		</div>

	</div>
</nav>


<script type="text/javascript" th:src="@{/assets/js/jqueryUI.js}"></script>

<script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>

<th:block th:replace="fragments/common :: scripts"></th:block>
</body>
</th:block>
</html>
