<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>App Details</title>
    <th:block th:replace="fragments/header :: header"></th:block>
    <!-- Custom CSS -->
    <link th:href="@{/assets/css/market-custom.css}" rel="stylesheet"  type="text/css"/>
    <link href="/assets/css/toastr.css" th:href="@{/assets/css/toastr.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="bg-light">
<th:block th:replace="fragments/header :: navbar"></th:block>
<!--section-->
<div class="jumbotron hero-section text-center">
    <div class="container">
        <h2 class="Integration__heading" th:text="${appDetail.name}"></h2>
        <img th:src="${appDetail.customData.icon}" alt="" class="Integration-logo"/>
    </div>
</div>
<!--end-->

<div class="container">
    <!-- sidebar -->
    <div class="col-sm-12 col-md-4 col-md-push-8">

        <!-- download button card -->
        <div class="card text-center">
            <button th:style="${#maps.containsKey(appDetail, 'ownership') and appDetail.ownership.ownershipStatus == 'active'} ? '' : 'display:none'"
                    id="uninstall-app" class="btn-danger btn btn-lg"
                    th:onclick="'uninstallApp(\'' + ${appDetail.appId} + '\');'"><i class="fa fa-close"></i> Uninstall
                App
            </button>
            <button th:style="${#maps.containsKey(appDetail, 'ownership') and appDetail.ownership.ownershipStatus == 'active'} ? 'display:none' : ''"
                    id="install-app" class="btn-primary btn btn-lg"
                    th:onclick="'installApp(\'' + ${appDetail.appId} +'\',\''+ ${modelId} + '\');'"><i
                    class="fa fa-check"></i> Get It Now
            </button>
        </div>

        <!-- media card -->
        <div class="card" th:style="${appDetail.customData.videoUrl != '' or appDetail.customData.get('images').size() != 0} ? '' : 'display:none'" >
            <div class="embed-responsive embed-responsive-16by9" th:switch="${appDetail.customData.videoUrl != ''}" th:case="${true}">
                <input type="hidden" th:value="${appDetail.customData.videoUrl}" class="form-control video-url"
                       name="video_url"/>
                <div class="video-preview"></div>
            </div>

            <div class="thumb-slider" th:switch="${appDetail.customData.get('images').size() != 0}" th:case="${true}">
                <ul class="bxslider">
                    <li th:each="image: ${appDetail.customData.get('images')}"><a th:href="${image}"><img
                            th:src="${image}" class="img-responsive"/></a></li>
                </ul>
            </div>
        </div>

        <!-- details card -->
        <div class="card" th:style="${appDetail.customData.websiteUrl != '' or appDetail.customData.get('category').size() != 0} ? '' : 'display:none'">
            <div class="row" th:switch="${appDetail.customData.websiteUrl != ''}" th:case="${true}">
                <h4 class="lead-txt">Website</h4>
                <p><a th:href="${'http://'+appDetail.customData.websiteUrl}"
                      th:text="${appDetail.customData.websiteUrl}"></a></p>
            </div>
            <div class="row" th:switch="${appDetail.customData.get('category').size() != 0}" th:case="${true}">
                <h4 class="lead-txt">Categories</h4>
                <p th:each="category, iterStat : ${appDetail.customData.get('category')}" th:text="!${iterStat.last} ? ${category} + ',': ${category}" th:remove="tag"></p>
            </div>
        </div>

    </div><!-- end sidebar -->

    <!-- search conatiner -->
    <div class="col-sm-12 col-md-8 col-md-pull-4">
        <div class="main-content">

            <div class="card">
                <div class="description" th:utext="${appDetail.customData.description}">
                </div>
            </div>

            <div class="related-product" th:switch="${relatedApps.get('list').size() == 0}" th:case="${false}">
                <h4>Other Related Apps</h4>

                <div class="col-sm-6 col-md-4 MarketplaceFeature" th:each="relatedApp: ${relatedApps.get('list')}">
                    <a th:href="@{/details/{safeName}(safeName=${relatedApp.safeName})}">
                        <div class="MarketplaceFeature-icon">
                            <img th:src="${relatedApp.customData.icon}" alt=""/>
                        </div>
                        <h3 th:text="${relatedApp.name}"></h3>
                        <p class="MarketplaceFeature-text" th:utext="${relatedApp.customData.summary}"></p>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>

<th:block th:replace="fragments/common :: marketplace-scripts"></th:block>
<script type="text/javascript" th:src="@{/assets/js/BxSlider.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/video-embed.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/toastr.min.js}"></script>

<script>
    $(function () {

        if ($.fn.bxSlider) {
            $('.thumb-slider ul').bxSlider({loop: true, auto: true});
        }

        $('.thumb-slider').magnificPopup({
            delegate: 'li>a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });

        $(".video-preview iframe").remove();
        $(".video-preview").text('');
        $(".video-preview").append(getEmbedVideoCode($(".video-url").val(), 390, 220));
    });


    function uninstallApp(appId) {
        $.ajax({
            url: "/uninstall/" + appId, success: function (result) {
                toastr.options.positionClass = 'toast-top-center';
                if(result.hasOwnProperty('errors')){
                    toastr.error('Cannot Uninstall App​');
                }
                $('#uninstall-app').hide();
                $('#install-app').show();

                toastr.success('App​ ​Uninstalled​ ​Successfully');
            }
        });
    }

    function installApp(appId, modelId) {
        $.ajax({
            url: "/install/" + appId + "/" + modelId, success: function (result) {
                toastr.options.positionClass = 'toast-top-center';
                if(result.hasOwnProperty('errors')){
                    toastr.error('Cannot Install App​');
                } else {
                    $('#install-app').hide();
                    $('#uninstall-app').show();

                    toastr.success('App​ Installed​ ​Successfully');
                }
            }
        });
    }

</script>
</body>

</html>