<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>
<body>
<section class="statistics">
    <div class="container section-container">
        <!-- TO BE ADDED LATER -->
    </div>
</section>

<section class="add-app">
    <div class="section-container action-container text-center">
        <div class="container">
            <h1>
                Add your app
            </h1>
            <a th:href="@{/create}" class="btn btn-white btn-see-through btn-lg">Add App</a>
        </div>
    </div>
</section>

<section class="apps">
    <div class="section-container"><h1 class="text-center">My Apps</h1>
        <div class="container">
            <div class="card-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-overlay text-center">
                                <div class="card-overlay-panel"><a class="btn btn-see-through" data-toggle="tooltip"
                                                                   title="" href="/app/edit/59a54d5aca753d311f7444b6/1"
                                                                   data-original-title="Edit"><i
                                        class="fa fa-pencil"></i></a><a class="btn btn-see-through"
                                                                        data-toggle="tooltip" title="" href="#"
                                                                        target="_blank" data-original-title="Preview"><i
                                        class="fa fa-search"></i></a><a class="btn btn-see-through"
                                                                        data-toggle="tooltip" title=""
                                                                        onclick="showDeleteDialog('59a54d5aca753d311f7444b6', '1', 'pending')"
                                                                        data-original-title="Delete"><i
                                        class="fa fa-trash"></i></a></div>
                            </div>
                            <div class="pending card-status text-center"><span>Pending Approval</span></div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-image"><img src="//d3grfap2l5ikgv.cloudfront.net/59a54d3ff960874e72409fae.png"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-title">Sample</div>
                                        <div class="card-summary">This is a sample application</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>